body{
	font-family: Verdana, Geneva, sans-serif;
	background-color: #F1F1F1;
}
.menu{
		position: fixed;
		top: 0; left: 0;
		width: 15%;  	
  		height: 100%;
  		background-color: #727A80;
}

.content{
	position: absolute;
	top: 0; left: 0;
	margin-left: 15%;
	background-color: #F5F4F4;
	width: 85%;
	height: 100%;
}

ul{
	margin: 0;
  	padding: 0;
  	font-weight: bolder;
}

li{
	color: white;
	font-size: 11px;
	padding: 8%;
	cursor: pointer;
}

li:hover{
	transform: scale(1.02);
	background-color: #899198;
}

li.logout-wrapper{
	position: absolute;
	bottom: 0;
	width: 84%;
}

.lang-wrapper{
	position: absolute;
	top: 0; left: 54%; 
	width: 40%;
	padding: 3%;
	background-color: #414141;
}

.font{
	position: relative;
	top: -5px;
	padding-left: 5%;
}

.a-img{
	width: 25px;
	height: 25px;
}

.b-img{
	width: 20px;
	height: 20px;
}

.profile-img{
	position: relative;
	left: 57%;
	margin-left: -25%;
	margin-top: 5%;
	width: 35%;
	height: auto;
}

.lang-img{
	position: relative;
	margin-left: 10%;
	width: 25px;
	height: auto;
	cursor: pointer;
}

.lang-img:hover{
	transform: scale(1.1);
}

.home-wrapper{
	position: relative;
	top: 0; 
	width: 48%;
	padding: 3%;
	background-color: #2ECC71;
	color: white;
}

#font-home{
	position: relative;
	top: -5px;
	padding-left: 1%;
}


#home-img{
	width: 25px;
	height: auto;
	opacity: 0.7;
}

#line{
	width: 90%;
	opacity: 0.8;
}

#role{
	text-align: center;
}

a:link, a:hover, a:active {
	color: white;
	text-decoration: none;
}